<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(errorMessage) { %>
            <div class="user-message user-message--error"> 
                <%= errorMessage %>
            </div>
                <% } %>
                
            
        <form class="login-form" action="/login" method="POST" >
            <div class="form-control">  <!--class="<%=/* errors.find(err=>return err.param=='username') ? 'username':'' */%>" --> <!--this willl highlight the place where the user has made a mistake-->
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email" value="<%= oldData.email%>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="<%= oldData.password%>">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Login</button>
            <div class="centered"><a href="/reset">Reset Password</a></div>
        </form>
    </main>
<%- include('../includes/end.ejs') %>